[submodule "UACME"]
	path = UACME
	url = https://github.com/hfiref0x/UACME
[submodule "Tater"]
	path = Tater
	url = https://github.com/Kevin-Robertson/Tater
[submodule "mimikatz/PowerSploit"]
	path = mimikatz/PowerSploit
	url = https://github.com/PowerShellMafia/PowerSploit
